@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--very-light-gray-background-headings-buttons);
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem;
}

.box {
  padding: 30px 50px;
}

h1 {
  text-transform: uppercase;
  color: var(--very-light-gray-background-headings-buttons);
  margin: 20px 0;
  font-family: "Big Shoulders Display", cursive;
}

p {
  color: var(--transparent-white-paragraphs);
  line-height: 1.4;
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

button {
  border: none;
  background-color: var(--very-light-gray-background-headings-buttons);
  border-radius: 18px;
  padding: 8px 30px;
  font-family: inherit;
  border: solid 1px white;
  margin-top: 60px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sedans button {
  color: var(--bright-orange);
}

.suvs button {
  color: var(--dark-cyan);
}

.luxury button {
  color: var(--very-dark-cyan);
}

button:hover {
  color: white;
  background-color: transparent;
}

.attribution {
  display: block;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
